body {
  font-family: 'Ubuntu', sans-serif;
  background: salmon;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.wrapper {
  background: white;
  height: 200px;
  width: 400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* resize: vertical; */
  border-radius: 10px;
  overflow: auto;
}

.wrapper div {
  background: black;
  color: white;
  padding: 20px;
  /* resize: vertical; */
  border-radius: 10px;
  overflow: auto;
/*   height: 125px; */
  text-align: center;
}
