body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  /*background: salmon;*/
  background: #1e2c32;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.wrapper {
  background: rgba(255, 140, 105, .8);
  height: 200px;
  width: 360px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* resize: vertical; */
  border-radius: 10px;
  overflow: auto;
  position: absolute;
  border: 8px solid #eee;
}

.wrapper div {
  background: rgba(0,0,0,.8);
  color: white;
  padding: 20px;
  /* resize: vertical; */
  border-radius: 10px;
  overflow: auto;
/*   height: 125px; */
  text-align: center;
}
